// https://console.cloud.google.com/apis/credentials?project=${id}
// https://console.developers.google.com/apis/credentials?project=${id}
export const GOOGLE_ANDROID_CLIENT_ID = "${GOOGLE_ANDROID_CLIENT_ID}";

export const GOOGLE_ANDROID_CLIENT_ID_STANDALONE = "${GOOGLE_ANDROID_CLIENT_ID_STANDALONE}";

export const GOOGLE_IOS_CLIENT_ID = "${GOOGLE_IOS_CLIENT_ID}";

export const GOOGLE_WEB_CLIENT_ID = "${GOOGLE_WEB_CLIENT_ID}";

export const GOOGLE_WEB_CLIENT_SECRET = "${GOOGLE_WEB_CLIENT_SECRET}";

export const FIREBASE_CONFIG = {
  apiKey: "${FIREBASE_apiKey}",
  authDomain: "${FIREBASE_projectId}.firebaseapp.com",
  databaseURL: "https://${FIREBASE_projectId}.firebaseio.com",
  projectId: "${FIREBASE_projectId}",
  storageBucket: "${FIREBASE_projectId}.appspot.com",
};

export const GIT_HASH = '${CIRCLE_SHA1}';