export const facebookAppId = "${facebookAppId}";

export const GOOGLE_ANDROID_CLIENT_ID = "${GOOGLE_ANDROID_CLIENT_ID}";

export const GOOGLE_IOS_CLIENT_ID = "${GOOGLE_IOS_CLIENT_ID}";

export const GOOGLE_WEB_CLIENT_ID = "${GOOGLE_WEB_CLIENT_ID}";

export const GOOGLE_WEB_CLIENT_SECRET = "${GOOGLE_WEB_CLIENT_SECRET}";

export const firebaseConfig = {
  apiKey: "${FIREBASE_apiKey}",
  authDomain: "${FIREBASE_projectId}.firebaseapp.com",
  databaseURL: "https://${FIREBASE_projectId}.firebaseio.com",
  projectId: "${FIREBASE_projectId}",
  storageBucket: "${FIREBASE_projectId}.appspot.com",
  messagingSenderId: "${FIREBASE_messagingSenderId}",
};

export const GIT_HASH = '${CIRCLE_SHA1}';