
export const facebookAppId = "12345678"

export const firebaseConfig = {
  apiKey: '',
  authDomain: 'hoge.firebaseapp.com',
  databaseURL: 'https://hoge.firebaseio.com',
  projectId: '',
  storageBucket: 'hoge.appspot.com',
  messagingSenderId: '',
};